.navbar-inner {
  background-color: #000; /* background color will be black for all browsers */
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}